<!DOCTYPE html>
<html>

<head>
    <style type="text/css">        body
        {
            background-color: #737277;
        }
        h1
        {
            color:orange;
            text-align:center;
        }
        p
        {
            font-family:"Times New Roman";
            font-size:20px;
        }
    </style>

</head>

<body>

<h2> Daniel Morja, Love Larsson</h2>


<div id="container" style="width:1500px;text-align: center; vertical-align: center;">
</div>


    <div id="header" style="background-color:#898c8c;height:100px;width:1500px">

        <h1 style="text-align:center;font-size:70px;">Hemsidan</h1></div>

    <div id="righttable" style="background-color:#898c8c;height:1000px;width:200px;float:right;">

    </div>
    <div id="menu" style="background-color:#898c8c;height:1000px;width:200px;font-size:30px;float:left;">
        <b>Meny</b><br>


        <a href="/">Hem</a>

        <br>


        <a href="/project">Projekt</a>
        <br>


        <a href="/technique">Tekniker</a>

    </div>



    <h2 style="myNewStyle">Morja är KUNG</h2>


    {% block content %}

    {% endblock %}



    <div id="footer" style="background-color:#898c8c;height:100px;width:1500px;float:left;">


</div>

</form>
</body>
</html>